@{
    Layout = "_Layout";
}

<div class="conteiner">
	<div class="row">
		<div class="col"></div>
		<div class="col col-sm">
			<h2>Обо мне</h2>
			<p class="abou_as">
				Меня зовут Шохрин Кирилл Андреевич, мне 18 лет.
				Я учусь на 3 курсе <a>Полевском филиале уральского радиотехнического колежда</a> на cпециалиста по информационным системам.
				Самостоятельно изучал языки программирования Python, C#, C++. java, также изучал HTML, CSS и JS. В данный момент на практике использую Python и C#. 
				Пока xразвиваюсь в веб-разработке(frontend, backend) <a href="#">примеры работ</a>, но еще хочу заниматься и разработкой программного обеспечения. Сейчас, в свободное время, 
				изучаю ASP.NET Core MVC. Умею быстро находить нужную информацию в интернете, люблю изучать что-то новое и использовать это на практике.
			</p>
			<h3>Оновлнно: </h3>
		</div>
		<div class="col col-sm"></div>
	</div>
</div>