@{
    Layout = "_Layout";
    ViewData["a1"] = "";
	ViewData["a2"] = "active";
}

<div class="container my-3 mb-1">
    <h2 style="color: #1b1919; display: block; text-align: center; margin-bottom: 15px;">Резюме</h2>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="resume" style="color: #1b1919;">
                <p class="info-footer">Резюме обновлено 18 февраля 2021 в 18:24</p>
                <p class="resume__body"></p>
                <p class="resume__title">Шохрин Кирилл </p>
                <p>Мужчина, 18&nbsp;лет, родился <text>26</text> <text>июня</text> <text>2002</text></p><br>
                <p>+7&nbsp;(904)&nbsp;5472187</p>
                <p>kshoxrin@gmail.com<span class="info"> — предпочитаемый способ связи</span></p><br>
                <p>Проживает: Полевской</p>
                <p>Гражданство: Россия, есть разрешение на работу: Россия</p>
                <p>Хочу переехать: Беларусь, Витебск, не готов к командировкам</p>
                <p class="resume__block">Желаемая должность и зарплата</p>
                <p class="resume__position">Junior разработчик</p>
                <p><span class="resume__salary">40&nbsp;000</span> руб.</p>
                <p>Начало карьеры, студенты</p>
                <ul>
                    <li class="resume-specialization">Информационные технологии, Интернет, Мультимедиа</li>
                </ul><br>
                <p></p>
                <p>Занятость: стажировка, частичная занятость, полная занятость</p>
                <p>График работы: удаленная работа, гибкий график, полный день</p>
                <p></p><p>Желательное время в пути до работы: не имеет значения</p>
                <p class="resume__block">Образование</p>
                <p class="bloko-form-hint">Уровень</p>
                <span class="resume-education__name resume-education__name_small">Среднее образование</span>
                <p class="resume__block">Ключевые навыки</p>
                <ul>
                    <li class="resume-skils"><span class="bloko-form-hint">Знание языков</span>
                        <ul class="resume-skils__item"><li>Русский<span class="info"> — Родной</span></li>
                        </ul>
                    </li>
                    <li class="resume-skils">
                        <span class="bloko-form-hint">Навыки</span>
                        <p class="resume-skils__item">
                            <span>HTML5; </span>
                            <span>Python; </span>
                            <span>CSS3; </span>
                            <span>ASP.NET; </span>
                            <span>C#</span>
                        </p>
                    </li>
                </ul>
                <p class="resume__block">Дополнительная информация</p>
                <ul>
                    <li class="resume-skils">
                        <span class="bloko-form-hint">Обо мне</span>
                        <p class="resume-skils__item">
                            <string>Студент 3 курса, радиотехнического колледжа, учусь на специалиста по информационным системам. 
                                Не имею опыта в коммерческих проектах. 
                                Самостоятельно изучал html, cs, python, c#, немного изучал js, сейчас изучаю asp.net core mvc. 
                                В свободное время (от учебы, общения с друзьями, просмотра фильмов или сериалов) пишу простые скрипты (по типу ботов или парсеров) 
                                или практикуюсь в вёрстке сайтов.<br>
                                Github: https://github.com/ShoxrinKirill
                            </string>
                        </p>
                    </li>
                </ul>
                <p></p>
            </div>
        </div>
    </div>
</div>