* {
    padding: 0;
    margin: 0;
}
html {
    width: 100%;
}
body { 
    width: 100%;
    background: url("../img/background_2.jpg");
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%;
    background-size: 100%;
}
.wrapper {
    min-height: calc(100vh - 50px);
}
.row {
    padding: 0;
    margin: 0;
}
.exaple {
    border-radius: 30px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #2d3436;
}
.exaple p {
    font-size: 15px;
}
.container h2 {
    color: #1b1919;
    padding-top: 10px;
    margin-top: 15px;
}
main {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    background-image: url("../img/main_bg.png");
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%;
    background-size: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
footer {
    width: 100%;
    height: 50px;
}
footer a.soc-i {
    color: #dfe6e9;
    width: 5px;
    height: 5px;
    margin-right: 7px;
}
a {
    cursor: pointer;
}
@media (max-width: 576px) {
    .col-sm-12 {
        width: 250px;
        margin-right: 0;
    }
}
@media (min-width: 576px) {
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}